@charset "UTF-8";
/**
 * 
 * @authors yutent (yutent@doui.cc)
 * @date    2017-04-14 21:18:53
 * 
 */

@import '../../css/var.scss';


.do-tree {overflow:hidden;overflow-y:auto;position:relative;display:block;width:100%;height:100%;line-height:30px;font-size:15px;color:nth($cd, 2);
  
  &__item {overflow:hidden; min-height:30px;
 
    .sub-tree {display:none;width:100%;padding-left:20px;}

    em,span {display:block;cursor:pointer;}
    em {float:left;padding:0 5px;font-size:20px;color:nth($cd, 1);}

    span {

      &:hover {color:nth($cd, 1);}
      &.active {color:nth($cd, 3);font-weight:bold;}
      &.checkbox {float:left;position:relative;width:18px;height:18px;margin:6px 5px 6px 0;line-height:16px;border:1px solid nth($cd, 2);border-radius:3px; font-size:16px;text-align:center;}
      &.label { white-space:nowrap; text-overflow:ellipsis;}
    }
  }
  &__item.open>.sub-tree {display:block;}
  
}