@charset "UTF-8";
/**
 * 
 * @authors yutent (yutent@doui.cc)
 * @date    2017-04-20 19:13:24
 * 
 */

.do-meditor-attach {width:630px;height:auto;background:#f7f7f7;cursor:default;

    .tab-box {width:100%;height:50px;line-height:49px;border-bottom:1px solid #e2e2e2;text-align:center;

        .item {position:relative;float:left;width:100px;height:49px;border-right:1px solid #ddd;cursor:pointer;}
        .item.active {background:#fff;}
        .item.active::after {position:absolute;left:0;bottom:-1px;width:100%;height:1px;background:#fff;content:""}
        a.action-close {top:5px;width:40px;height:40px;line-height:40px;font-size:20px;}
        a.action-close:hover {line-height:40px;border:0;}
    }

    .cont-box {position:relative;width:100%;height:auto;min-height:200px;background:#fff;

        .remote,
        .local {position:relative;width:60%;height:auto;margin:0 auto;padding:15px 0 30px;}
        .local {width:96%;}

        .hide  {display:none;}

        .section {display:block;width:100%;height:auto;margin:15px 0;line-height:35px;

            &.input {line-height:33px;border:1px solid #e9e9e9;}

            .label {float: left;width:30%;text-align:center;background:#f7f7f7;}
            .txt {float: left;width:70%;height:33px;padding:0 8px;border:0;border-left:1px solid #e9e9e9;background:#fff;color:#666;}
            .submit {float:right;width:30%;height:35px;background:#ddd;color:#666;text-align:center;}
        }


        .select-file  {width:100%;height:35px;line-height:33px}
        .select-file span.file  {float:left;width:100px;height:35px;border:1px solid #ddd;background:#f7f7f7;color:#666;text-align:center;cursor:pointer;}
        .select-file span.tips  {display:inline-block;padding:0 10px;line-height:35px;color:#666;}
        .upload-box  {width:100%;height:auto;min-height:190px;margin:10px 0;border:1px solid #e2e2e2;}
        .upload-box .tr {width:100%;height:35px;line-height:35px;text-align:center;}
        .upload-box .tr:hover {background:#fafafa}
        .upload-box .thead {line-height:34px;border-bottom:1px solid #e2e2e2;background:#f7f7f7;}

        .upload-box .td {float:left;}
        .upload-box .td.name {width:45%;}
        .upload-box .td.progress {width:40%;}
        .upload-box .td.option {width:15%;}
        .upload-box .td.option a {display:inline-block;padding:3px 5px;line-height:13px;border:1px solid #e2e2e2;background:#f7f7f7;color:#666;}
        .upload-box .td .red {color:#f30;}

        .manager {overflow:hidden;overflow-y:auto;width:100%;height:320px;padding:10px;}
        .manager .item {float:left;width:22%;height:130px;margin:10px 1.5%;padding:5px;}
        .manager .item:hover {background:#f7f7f7;}
        .manager .thumb {display:block;width:100%;height:100px;}
        .manager .name {overflow:hidden;height:20px;line-height:30px; text-align:center;}
        .manager img {width:100%;height:100%;}
        .manager .attach-icon {display:inline-block;width:100%;height:100px;text-align:center;font:50px/100px "ui font" !important;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
    }

}