@charset "UTF-8";
/** 
 * 
 * @authors yutent (yutent@doui.cc)
 * @date    2016-02-14 14:00:06
 * 
 */
@import "var.scss";

.do-datepicker { position:relative;display:inline-block;width:100%; height:100%;color:nth($cgr, 1);font-size:14px;

  &.mini {width:155px;height:30px;line-height:30px;}
  &.medium {width:175px;height:35px;line-height:35px;}
  &.large {width:195px;height:40px;line-height:40px;}

  a { text-decoration:none;color:nth($cgr, 1);
    
    &:hover {color:nth($cgr, 2);}
    &:active {color:nth($cgr, 3);}
  }

  .date-input {position:relative; display:block; width:100%; height:100%;

    .input { width:100%; height:100%;padding:0 5px; line-height:18px; border:1px solid nth($cp, 1);color:nth($cgr, 1); @include ts();

      &:focus { border-color:nth($ct, 1); }
      &[disabled] {background:#f7f8fb;cursor:not-allowed;}
    }
    .icon {position:absolute;right:0;top:0;width:35px;text-align:center;font-size:25px;color:nth($cp, 3);
    }
  }
  .calendar-box { position:absolute; left:0; top:100%; z-index:65534; width:267px; height:auto; min-height:60px;padding:10px;line-height:35px; border:1px solid #ddd; background:#fff; font-size:14px; color:nth($cgr, 1); text-align:center; box-shadow:0 1px 5px rgba(0, 0, 0, 0.1);

    &::before {position:absolute;left:0;top:0;z-index:-1;width:100%;height:85px;background:nth($ct, 1);content:""}

    dt.contrl {position:relative; width:100%; height:35px; margin:5px 0 0;border-radius:3px;color:#fff;

      a { position:absolute; left:0; top:0; width:35px; height:35px;color:#fff;cursor:pointer;

        &::after {position:absolute;left:0;top:0;z-index:-1;display:block;width:35px;height:35px;border-radius:50%;background:nth($ct, 3); content:"";opacity:0;transform: scale(0);}

        &:active {font-weight:bold;
          &::after {animation:ripple .3s cubic-bezier(0.23, 1, 0.32, 1);}
        }

        &.prev-month {left:35px;}
        &.next-month {left:auto; right:35px;}
        &.next-year {left:auto; right:0;}
      }

    }
    dd.table { width:100%; height:auto;
      .thead {width:100%; height:35px; margin-bottom:5px;color:#fff;}
      span.td {position:relative;float:left; width:33px;margin:1px;border-radius:3px;

      }

      .tr span.td { height:30px; line-height:30px;cursor:pointer;

        &::before {position:absolute;left:1px;top:0;z-index:-1;display:block;width:30px;height:30px;border-radius:50%;background:nth($cp, 1); content:"";opacity:0;transform: scale(0); transition:opacity .45s cubic-bezier(0.23, 1, 0.32, 1),transform .45s cubic-bezier(0.23, 1, 0.32, 1);}

        &:hover,&.selected {
          &::before {opacity:1;transform:scale(1);}
        }

        &.weeken {color:nth($ct, 3);}
        &.selected {color:#fff;
          &::before {background:nth($ct, 2);}
        }
        &.disabled { color:nth($cp, 1); cursor:default;
          
          &::before {display:none;}
        }
      }
    }

    dd.time { position:relative; width:100%; height:41px; padding:5px 0; margin-top:5px; line-height:30px; border-top:1px solid #eee;

      label { float:left; width:60px; height:30px;
        input { width:30px; height:30px; border:1px solid nth($cp, 1); text-align:center; }
      }
      .now { float:right; width:50px; height:30px; border-radius:3px; background:nth($cp, 1);text-align:center;
      }
    }

    dt.confirm { position:relative; width:100%; height:41px; padding:10px 0 0;line-height:30px; border-top:1px solid #eee; text-align:right;

      .ok,.cancel {display:inline-block;width:60px; height:30px;margin:0 0 0 10px;border-radius:3px;text-align:center;cursor:pointer;}

      .ok { background:nth($ct, 1); color:#fff;
        &:hover { background:nth($ct, 2); }
        &:active { background:nth($ct, 3); }
      }
      .cancel {background:nth($cp, 1);}
    }

    dd.tips { position:absolute; z-index:65535; left:25%; top:40%; width:50%; height:30px; line-height:28px; background:#fffbed;color:nth($co, 3);border:1px solid nth($co, 1);border-radius:5px; font-size:12px; text-align:center; }
  }
}


@keyframes ripple {
  from {transform: scale(0);opacity:0;}
  30% {opacity:.8;}
  to {transform: scale(1.2); opacity:0;}
} 