@charset "UTF-8";
/**
 * 
 * @authors yutent (yutent@doui.cc)
 * @date    2017-05-20 21:35:30
 * @version $Id$
 */

@import "var.scss";


/*--------各种按钮---------*/
.do-ui-button {display:inline-block;height:16px;padding:2px 5px;line-height:12px;border-radius:2px;text-align:center;font-size:12px;background:nth($cp, 2);color:nth($cgr, 1);cursor:pointer;@include ts;

  &.medium {min-width:80px;height:30px;padding:0 8px;line-height:30px;font-size:14px}
  &.large {min-width:130px;height:45px;padding:0 13px;line-height:45px;border-radius:3px;font-size:18px;}

  &:hover {background:nth($cp, 1);}
  &:active {background:nth($cp, 3);}
  
  &.teal {background:nth($ct, 2);color:#fff;}
  &.teal:hover {background:nth($ct, 1);}
  &.teal:active {background:nth($ct, 3);}
  &.green {background:nth($cg, 2);color:#fff;}
  &.green:hover {background:nth($cg, 1);}
  &.green:active {background:nth($cg, 3);}
  &.blue {background:nth($cb, 2);color:#fff;}
  &.blue:hover {background:nth($cb, 1);}
  &.blue:active {background:nth($cb, 3);}
  &.purple {background:nth($cpp, 2);color:#fff;}
  &.purple:hover {background:nth($cpp, 1);}
  &.purple:active {background:nth($cpp, 3);}
  &.red {background:nth($cr, 2);color:#fff;}
  &.red:hover {background:nth($cr, 1);}
  &.red:active {background:nth($cr, 3);}
  &.orange {background:nth($co, 2);color:#fff;}
  &.orange:hover {background:nth($co, 1);}
  &.orange:active {background:nth($co, 3);}
  &.grey {background:nth($cgr, 2);color:#fff;}
  &.grey:hover {background:nth($cgr, 1);}
  &.grey:active {background:nth($cgr, 3);}
  &.dark {background:nth($cd, 2);color:#fff;}
  &.dark:hover {background:nth($cd, 1);}
  &.dark:active {background:nth($cd, 3);}

  &.disabled {background:nth($cp, 1);color:nth($cp, 3);cursor:not-allowed;}
  
}




/*--------各种input---------*/


.do-ui-input {width:auto;height:30px;padding:0 5px;background:nth($cp, 1);border:2px solid transparent;border-radius:5px;font-size:13px;@include ts();color: nth($cd, 2);

  &:focus {background:#fff;border-color:nth($cd, 2);}
    
  &::placeholder {color:nth($cgr, 1);}
  &:disabled {border-color:transparent;background:#fff8ed;color:nth($cgr, 1);cursor:not-allowed;}

}

.do-ui-textarea {width:auto;height:120px;padding:5px 8px;background:nth($cp, 1);border:2px solid transparent;border-radius:5px;font-size:14px;@include ts();color: nth($cd, 2);

  &:focus {background:#fff;border-color:nth($cd, 2);}
    
  &:disabled {border-color:transparent;background:#fff8ed;color:nth($cgr, 1);cursor:not-allowed;}
}


/* select框 */
.do-ui-select  {position:relative;display:inline-block;width:auto;min-width:100px;height:30px;color:nth($cgr, 1);

  select {width:100%;height:100%;padding:5px 13px;line-height:1;background:nth($cp, 1);border-radius:5px;appearance:none;border:2px solid transparent;outline:none;color: nth($cd, 2);font-size:13px;

    &:focus {background:#fff;border-color:nth($cd, 2);}
    &::-ms-expand {display:none;}
    &:disabled {border-color:transparent;background:#fff8ed;color:nth($cp, 3)}
  }
  .trigon {position:absolute;right:7px;top:0;width:15px;height:30px;padding:7px 0;font-size:12px;text-align:center;
    i {float:left;width:15px;height:12px;line-height:12px;}
    i:nth-child(2) {margin-top:-6px;}
  }
}

/* 单选和复选框 */
.do-ui-radio,
.do-ui-checkbox {display:inline-block;position:relative;width:auto;height:auto;padding:0 5px 0 35px;line-height:30px;color:nth($cd, 1);font-size:13px;

  >input {position:absolute;left:7px;top:5px;width:20px;height:20px;border-radius:50%;border:1px solid nth($cp, 3);background:#fff;appearance:none;

    &:checked {box-shadow:0 0 5px nth($cb, 1);}
    &:checked::after {display:block;width:12px;height:12px;margin:3px;border-radius:50%;background:nth($cgr, 1);content:""}

    &:disabled {background:#fff8ed;box-shadow:none;cursor:not-allowed;}
    &:disabled:checked::after {background:nth($cgr, 1);}
  }

  &.disabled {color:nth($cp, 3);cursor:not-allowed;}
}

.do-ui-checkbox {

  >input {border-radius:3px;

    &:checked::after {width:100%;height:100%;margin:0;line-height:18px;font-size:18px;text-align:center;color:nth($cgr, 1);background:none;content:"✓"}

    &:disabled:checked::after {color:nth($cgr, 1);background:none;}
  }

}



/* 引用文本 */
.do-ui-quote {display:inline-block;position:relative;min-height:60px;margin:10px 0;padding:15px 10px 5px 50px;border:1px solid nth($cp, 3);border-radius:10px;background:nth($cp, 1);color:nth($cgr, 1);font-size:14px;word-break: break-all;

  i {position:absolute;left:8px;top:0;font-size:30px;line-height:1.5;color:nth($cp, 3);}
}

/* 提醒文本 */
.do-ui-warn,.do-ui-mark {display:inline-block;position:relative;min-height:40px;margin:5px 0;padding:5px 8px 5px 30px;border:1px solid nth($co, 1);border-radius:5px;background:#fffbed;color:nth($co, 3);font-size:14px;word-break: break-all;
    
  p {margin:0!important;}
  i {position:absolute;left:5px;top:2px;font-size:20px;line-height:1.5;}
}
.do-ui-mark {border-color:nth($ct, 2);color:nth($ct, 3);background:#edfbf8;}