@charset "UTF-8";
/**
 * 
 * @authors yutent (yutent@doui.cc)
 * @date    2018-06-12 13:08:26
 * @version $Id$
 */

@import "var.scss";


.do-button {overflow:hidden;position:relative;display:inline-block;width:auto;height:30px;padding:0 10px;line-height:30px;text-align:center;cursor:pointer;font-size:14px;

  &::before {position:absolute;left:-50%;top:-50%;display:block;width:200%;height:200%;border-radius:50%;background:rgba(220,220,220,.5); content:"";opacity:0;transform: scale(0, .0); transition:opacity 1.3s cubic-bezier(0.23, 1, 0.32, 1),transform 1.3s cubic-bezier(0.23, 1, 0.32, 1);}
    
  &:hover {
    &::before {opacity:1;transform:scale(1, .8);}
  }
  &:active {
    &::before {background:rgba(0,0,0,.1);}
  }

  &__text,&__icon {position:relative;display:inline-block;}
  &__icon {font-size:20px;vertical-align:top;}

  &.small {height:20px;padding:0 5px;line-height:20px;font-size:12px;
    
    i {font-size:16px;}
  }
  &.medium {min-width:100px;height:35px;line-height:35px;font-size:16px;

    i {padding-right:5px;font-size:24px;}
  }
  &.large {min-width:160px;height:50px;padding:0 13px;line-height:50px;font-size:18px;
    
    i {padding-right:10px;font-size:28px;}
  }

  
  &.teal {color:nth($ct, 2);}
  &.green {color:nth($cg, 2);}
  &.blue {color:nth($cb, 2);}
  &.purple {color:nth($cpp, 2);}
  &.red {color:nth($cr, 2);}
  &.orange {color:nth($co, 2);}
  &.plain {color:nth($cp, 3);}
  &.grey {color:nth($cgr, 2);}
  &.dark {color:nth($cd, 2);}

  &.disabled {color:nth($cp, 2);cursor:not-allowed;
    
    &::before {display:none;}
  }
}


.do-radio {position:relative;display:inline-block;width:auto;height:30px;padding-right:10px;line-height:30px;text-align:center;cursor:default;font-size:14px;


  &__box {float:left;width:20px;height:20px;margin:5px;margin-left:0;border:1px solid nth($cgr, 2);border-radius:50%;}
  &.checked &__box::after {display:block;width:14px;height:14px;margin:2px;border-radius:50%;content:""}  

  &.teal &__box  {border-color:nth($ct, 2);
    &::after {background:nth($ct, 2);}
  }
  &.teal {color:nth($ct, 2);}

  &.green &__box  {border-color:nth($cg, 2);
    &::after {background:nth($cg, 2);}
  }
  &.green {color:nth($cg, 2);}

  &.blue &__box {border-color:nth($cb, 2);
    &::after {background:nth($cb, 2);}
  }
  &.blue {color:nth($cb, 2);}

  &.purple &__box {border-color:nth($cpp, 2);
    &::after {background:nth($cpp, 2);}
  }
  &.purple {color:nth($cpp, 2);}

  &.red &__box  {border-color:nth($cr, 2);
    &::after {background:nth($cr, 2);}
  }
  &.red {color:nth($cr, 2);}

  &.orange &__box  {border-color:nth($co, 2);
    &::after {background:nth($co, 2);}
  }
  &.orange {color:nth($co, 2);}

  &.plain &__box  {border-color:nth($cp, 3);
    &::after {background:nth($cp, 3);}
  }
  &.plain {color:nth($cp, 3);}

  &.grey &__box  {border-color:nth($cgr, 2);
    &::after {background:nth($cgr, 2);}
  }
  &.grey {color:nth($cgr, 2);}

  &.dark &__box  {border-color:nth($cd, 2);
    &::after {background:nth($cd, 2);}
  }
  &.dark {color:nth($cd, 2);}

  
  &.disabled {color:nth($cp, 3);cursor:not-allowed;text-decoration:line-through;}
  &.disabled.checked {color:nth($cd, 1);}
  &.disabled &__box {border-color:nth($cp, 3);
    &::after {background:nth($cp, 3);}
  }
}



.do-switch {position:relative;display:inline-block;width:45px;height:30px;padding-right:10px;cursor:default;

  &__label {position:relative;display:inline-block;width:100%;height:14px;margin:7px 0;background:nth($cp, 3);border-radius:7px;}

  &__dot {position:absolute;left:0;top:-3px;width:20px;height:20px;border-radius:50%;background:#fff;box-shadow:0 1px 3px rgba(0,0,0,.3);}

  &:hover &__dot {transform:scale(1.1);}
  &.disabled {cursor:not-allowed;}
  &.disabled:hover &__dot {transform:scale(1);}

  &.checked &__dot {left:auto;right:0;}

  &.teal.checked &__dot  {background:nth($ct, 2);}
  &.teal.checked &__label  {background:nth($ct, 1) + a0;}

  &.green.checked &__dot  {background:nth($cg, 2);}
  &.green.checked &__label  {background:nth($cg, 1) + a0;}

  &.blue.checked &__dot {background:nth($cb, 2);}
  &.blue.checked &__label {background:nth($cb, 1) + a0;}

  &.purple.checked &__dot {background:nth($cpp, 2);}
  &.purple.checked &__label {background:nth($cpp, 1) + a0;}

  &.red.checked &__dot  {background:nth($cr, 2);}
  &.red.checked &__label  {background:nth($cr, 1) + a0;}

  &.orange.checked &__dot  {background:nth($co, 2);}
  &.orange.checked &__label  {background:nth($co, 1) + a0;}

  &.plain.checked &__dot  {background:nth($cp, 3);}
  &.plain.checked &__label  {background:nth($cp, 2);}

  &.grey.checked &__dot  {background:nth($cgr, 2);}
  &.grey.checked &__label  {background:nth($cgr, 1) + a0;}

  &.dark.checked &__dot  {background:nth($cd, 2);}
  &.dark.checked &__label  {background:nth($cd, 1) + a0;}

  &.disabled.checked &__dot  {background:#fff;}
  &.disabled &__label, &.disabled.checked &__label {

    &::before {display:block;position:absolute;top:5px;width:8px;height:4px;border-radius:2px;background:#fff;content:"";}
  }
  &.disabled &__label::before {right:5px;}
  &.disabled.checked &__label::before {left:5px;}
}


.do-checkbox {position:relative;display:inline-block;width:auto;height:30px;padding-right:10px;line-height:30px;text-align:center;cursor:default;font-size:14px;


  &__box {float:left;width:18px;height:18px;margin:6px;margin-left:0;line-height:16px;border:1px solid nth($cgr, 2);border-radius:3px;font-size:16px;text-align:center;}
  &.checked &__box {color:#fff;font-weight:bold;}

  &.grey {color:nth($cgr, 2);}
  &.grey &__box {border-color:nth($cgr, 2);}
  &.grey.checked &__box {background:nth($cgr, 2);}

  &.dark {color:nth($cd, 2);}
  &.dark &__box {border-color:nth($cd, 2);}
  &.dark.checked &__box {background:nth($cd, 2);}

  &.teal {color:nth($ct, 2);}
  &.teal &__box {border-color:nth($ct, 2);}
  &.teal.checked &__box {background:nth($ct, 2);}

  &.green {color:nth($cg, 2);}
  &.green &__box {border-color:nth($cg, 2);}
  &.green.checked &__box {background:nth($cg, 2);}

  &.blue {color:nth($cb, 2);}
  &.blue &__box {border-color:nth($cb, 2);}
  &.blue.checked &__box {background:nth($cb, 2);}

  &.purple {color:nth($cpp, 2);}
  &.purple &__box {border-color:nth($cpp, 2);}
  &.purple.checked &__box {background:nth($cpp, 2);}

  &.orange {color:nth($co, 2);}
  &.orange &__box {border-color:nth($co, 2);}
  &.orange.checked &__box {background:nth($co, 2);}

  &.plain {color:nth($cp, 3);}
  &.plain &__box {border-color:nth($cp, 3);}
  &.plain.checked &__box {background:nth($cp, 3);}

  &.red {color:nth($cr, 2);}
  &.red &__box {border-color:nth($cr, 2);}
  &.red.checked &__box {background:nth($cr, 2);}
    
  &.disabled {cursor:not-allowed;color:nth($cp, 3);text-decoration:line-through;}
  &.disabled &__box {border-color:nth($cp, 3);}
  &.disabled.checked {color:nth($cd, 1);}
  &.disabled.checked &__box {background:nth($cp, 3);}

}



.do-input {position:relative;display:inline-block;width:180px;height:30px;line-height:30px;border-bottom:1px solid nth($cp, 2);cursor:default;font-size:14px;

  &.icon-left {padding-left:30px;}
  &.icon-right {padding-right:30px;}

  &__holder {visibility:hidden;position:absolute;bottom:0;left:0;width:100%;height:30px;padding:0 5px;color: nth($cp, 3);@include ts(bottom, .2s);

    &.visible {visibility:visible;}
  }
  &__input {position:relative;width:100%;height:30px;padding:0 5px;border:0;background:none;font-size:14px;color:nth($cd, 2);}
  &__icon {position:absolute;bottom:0;width:30px;height:30px;text-align:center;font-size:20px;}

  &::after {position:absolute;left:50%;bottom:-1px;width:0;height:2px;content:"";transition:left .15s linear,width .15s linear;}

  &.active &__holder {bottom:20px;}
  &.active::after {left:0;width:100%;}

  &.icon-left &__icon {left:0;}
  &.icon-right &__icon {right:0;}

  &.icon-left &__holder {padding-left:30px;}
  &.icon-right &__holder {padding-right:30px;}

  &.grey {color:nth($cgr, 2);
    &::after {background:nth($cgr, 1);}
  }

  &.dark {color:nth($cd, 2);
    &::after {background:nth($cd, 1);}
  }

  &.teal{color:nth($ct, 2);
    &::after {background:nth($ct, 1);}
  }

  &.green {color:nth($cg, 2);
    &::after {background:nth($cg, 1);}
  }

  &.red {color:nth($cr, 2);
    &::after {background:nth($cr, 1);}
  }

  &.blue {color:nth($cb, 2);
    &::after {background:nth($cb, 1);}
  }

  &.purple {color:nth($cpp, 2);
    &::after {background:nth($cpp, 1);}
  }

  &.orange {color:nth($co, 2);
    &::after {background:nth($co, 1);}
  }

  &.disabled {background:#fff8ed;color:nth($cp, 3);}
  &.disabled &__input {cursor:not-allowed;color:nth($cp, 3);}

}