$ct: #19b491 #3fc2a7 #16967a;
$cg: #2ecc71 #58d68d #27ae60;
$cpp: #9b59b6 #ac61ce #8e44ad;
$cb: #2d8dd6 #52a3de #2776b1;
$cr: #e34235 #e96458 #be382d;
$co: #f39c12 #ffb618 #e67e22;
$cp: #e7e8eb #ecf0f1 #bdc3c7;
$cgr: #8a9b9c #98acae #748182;
$cnb: #526273 #62778d #34495E;

@mixin ts($c: all, $t: .2s, $m: ease-in-out){
  transition:$c $t $m;
}