@import '../css/var.scss';

.do-console {
  overflow:hidden;overflow-y:auto;position:fixed;left:0;bottom:0;z-index:65535;width:100%;height:50vh;padding:8px 5px;background:rgba(255,255,255,.9);color:#666;font-size:13px;line-height:17px;

  pre {position:relative;display:block;width:100%;height:auto;padding-left:13px;word-wrap: break-word;white-space: pre-wrap;border-bottom:1px solid #ddd;
    
    &.error {background:#fff0f0;color:#ff6161}
    &::before {position:absolute;left:0;top:0;content:">";color:nth($ct, 1)}
  }
}